---
import BaseLayout from "../layouts/BaseLayout.astro";
const { title, images, alt, urls, width, height } = Astro.props;
---

<BaseLayout title={title} is404Page={false}>
  <div
    id="homepage"
    class="flex flex-col justify-center items-center"
    data-images={images}
    title={title}
    data-alt={alt}
    data-urls={urls}
    data-width={JSON.stringify(width)}
    data-height={JSON.stringify(height)}
  >
    <a>
      <picture>
        <source media="(min-width: 1280px)" srcset="" data-srcset-large />
        <source media="(min-width: 768px)" srcset="" data-srcset-medium />
        <img
          id="randomHomePageImage"
          class="hidden h-[440px] sm:h-[600px] lg:h-[700px] xl:h-[1000px] object-contain w-full object-center"
          src=""
          alt=""
          data-srcset-small
        />
        
      </picture>
    </a>
    <!-- <h1 class="mt-2 text-center normal-case font-overpass-mono mb-1 font-semibold">{urls} by</h1> -->
    <slot />
  </div>
</BaseLayout>

<script src="../scripts/homePage.js"></script>
